@page "/compensations/custom-fields"

<PageTitle>Custom Fields</PageTitle>

<section class="customFields">
    <div class="d-flex justify-content-between">
        <h1 class="display-sm">Custom fields</h1>
        <button class="btn-primary" data-bs-toggle="modal" data-bs-target="#createCustomFieldModal">
            <svg width="20px" height="20px">
                <use xlink:href="icons/icons.svg#icon-plus"></use>
            </svg>
            New custom field
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="createCustomFieldModal" tabindex="-1" aria-labelledby="createCustomFieldModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="circle-primary">
                            <svg width="20px" height="20px">
                                <use xlink:href="icons/icons.svg#icon-pencil"></use>
                            </svg>
                        </div>
                        <button type="button" data-bs-dismiss="modal" aria-label="Close">
                            <svg width="24px" height="24px">
                                <use xlink:href="icons/icons.svg#icon-close"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- <p class="text-lg">(1/2) Create new custom field</p>
                        <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet velit ipsum</p>
                        <form>
                            <div class="input input-text">
                                <label>Element name</label>
                                <input type="text" placeholder="Enter element name"/>
                            </div>
                            <div class="textarea">
                                <label>Description</label>
                                <textarea placeholder="Enter description" />
                            </div>
                        </form> -->

                        <!-- 2/2 -->
                        <p class="text-lg">(2/2) Create new custom field</p>
                        <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet velit ipsum</p>
                        <form>
                            <div class="select">
                                <label>Select type</label>
                                <div class="select__content">
                                    <select>
                                        <option value="choices" selected>Choices</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                    <svg class="select__icon" width="20" height="20">
                                        <use xlink:href="icons/icons.svg#icon-arrow-down"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="input input-text">
                                <input type="text" placeholder="1;2;3"/>
                            </div>
                            <p class="text-sm description">For each value of the list please separate with a semi-colon : ';'</p>
                            <div class="toggle--sm">
                                <input type="checkbox" checked data-toggle="toggle" data-width="100" data-height="75">
                                <label>The field needs an history</label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Transaction</th>
                <th scope="col">Type</th>
                <th scope="col">Created</th>
                <th scope="col">Employees</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
                <tr>
                    <th scope="row">@item.Transaction</th>
                    <td>@item.Type</td>
                    <td>@item.Created</td>
                    <td>@item.Employees</td>
                    <td>@item.Description</td>
                    <td class="actions">
                        <svg width="20px" height="20px">
                            <use xlink:href="icons/icons.svg#icon-download"></use>
                        </svg>
                    </td>
                    <td class="actions">
                        <svg width="20px" height="20px">
                            <use xlink:href="icons/icons.svg#icon-clock"></use>
                        </svg>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

@code {
    List<Item> items = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        items = new List<Item>
        {
            new Item {
                Id = 1, 
                Transaction = "BUM", 
                Type = "People", 
                Created = "04/04/2022",
                Employees = 880,
                Description = "Lorem ipsum dolor sit amet, consectetur adipiscing"
            },
            new Item {
                Id = 2, 
                Transaction = "CM+1", 
                Type = "People", 
                Created = "04/04/2022",
                Employees = 76,
                Description = "Lorem ipsum dolor sit amet, consectetur adipiscing"
            },
            new Item {
                Id = 3, 
                Transaction = "CM+2", 
                Type = "People", 
                Created = "04/04/2022",
                Employees = 446,
                Description = "Lorem ipsum dolor sit amet, consectetur adipiscing"
            },
            new Item {
                Id = 4, 
                Transaction = "Validation Level", 
                Type = "Choices", 
                Created = "04/04/2022",
                Employees = 992,
                Description = "Lorem ipsum dolor sit amet, consectetur adipiscing"
            },
            new Item {
                Id = 5, 
                Transaction = "Eligibility", 
                Type = "Choices", 
                Created = "04/04/2022",
                Employees = 968,
                Description = "Lorem ipsum dolor sit amet, consectetur adipiscing"
            },
            new Item {
                Id = 6, 
                Transaction = "Performance", 
                Type = "Percent", 
                Created = "04/04/2022",
                Employees = 681,
                Description = "Lorem ipsum dolor sit amet, consectetur adipiscing"
            },
        };
    }

    class Item
    {
        public int Id { get; set; }
        public string? Transaction { get; set; }
        public string? Type { get; set; }
        public string? Created { get; set; }
        public int? Employees { get; set; }
        public string? Description { get; set; }
    }
}

